<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Teacher Form Page</title>
</head>
<body>
<div layout:fragment="main-content">

    <table>
        <tr>
            <th>ΟΝΟΜΑ</th>
            <th>ΕΠΙΘΕΤΟ</th>
            <th>ΗΛΙΚΙΑ</th>
        </tr>
        <tr>
            <td th:text="${name}"></td>
            <td th:text="${surname}"></td>
            <td th:text="${am}"></td>
        </tr>
    </table>
</div>
</body>
</html>